@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body{
    background-color:#242735;
    font-family: 'Montserrat';
    font-weight: 300px;
  }
.header{
    
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 1.8rem 1rem;
    width:auto;
    height:50%;
    z-index:-auto;
    background-image: linear-gradient(#1d0d33, #26703f);
    border-top-left-radius: 50px;
    border-top-right-radius:50px;
    border-bottom-left-radius: 200px 60px;
    border-bottom-right-radius: 200px 60px;
  }

nav{
	float: middle;
}
.navber_container{
	width: 80%;
	margin: 0 auto;
	background-color: #150b24;
}
nav li {
	display: inline-block;
	margin-left: 50px;
	padding-top: 5px;
	position: sticky;
	padding-left: 80px;
}
nav a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	font-size: 14px;
  }
  
  nav a:hover {
	color: rgb(2, 168, 91);
  }
  nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #0a473e;
  
	position: relative;
	top: 0;
	width: 0%;
  
	transition: all ease-in-out 100ms;
  }
  
  nav a:hover::before {
	width: 100%;
  }

section{
    padding:0px;
	position: relative;
    border-bottom: var(--border-light);
	background-color: #550a0a;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration:none;
    color: rgb(0, 30, 68) ;
    border: 1px solid;
    font-weight: 400;
}
.btn:focus {
    outline-color: #917c7c77;
	outline-offset: 5px;
}
.btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: black;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ;
}
.btn:hover::after,
.btn:focus::after {
    right: 0;
    background: var(--pink);
}
.btn--pink {
    background: var(--pink);
    transition: all 0.2s;
}
.btn--pink::after {
    display: none;
}
.btn--pink:hover,
.btn--pink:focus {
    background:transparent;
}

/* about section styles*/

.about__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-image: linear-gradient(#1d0d33, #26703f);
	float: left;
  
	
}
.about__text {
	flex: 0  30%;
}
.row{
  padding: 1px;
  text-align: center;
  background-image: linear-gradient(#26703f,#1d0d33);

}
.about__photo{
	display: block;
	border-bottom: #01741e 2px solid;
	border-left: rgb(69, 143, 0) 2px solid;
	border-right: #096b63 2px solid;
	border-width: 1px;
	width: 350px;
	border-radius: 120px;
	position:relative;
}
/* skill section styles*/

.skills {
  background-image: linear-gradient(#1d0d33, #26703f);
  
  width: auto;
  text-align: center;
  margin-top: 340px;
}

.skill-header {
  margin-bottom: 5px;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 100px;
  height: 100px;
}

.icon-card {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  box-shadow: 0 3px 10px #110606;
  padding: 5px;
  margin: 10px;
}
.re-wrapper img {
  padding: 1.25rem;
}
.re-header {
  margin-bottom: 5px;
}
.re-card{
  background-color: #c4dad6;
  border-radius: 80px;
  box-shadow:0 3px 10px #26703f;
  padding: 5px;
  margin: 10px;
   
}
.re {
  width: 100px;
  height: 100px;
}
.research{
  background-image: linear-gradient(#26703f,#1d0d33);
  
  width: auto;
  text-align: center;
  margin-top: 1px;
}