@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
/*Media Queries*/
@media screen and (max-width: 1060px){
  #primary{width: 65%;}
  #secondary {
    width: 30;
    margin-left: 3%;}
}
@media screen and (max-width: 768px){
  #primary{width: 100%;}
  #secondary {
    width: 100;
    margin: 0%;
    border: none;
  }
}


body{
    /*background-color:#242735;*/
    background-color:#000000;
    font-family: 'Montserrat';
    font-weight: 300px;
  }
.header{
    
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 1.8rem 1rem;
    width:auto;
    height:50%;
    z-index:-auto;
    /*background-image: linear-gradient(#1d0d33, #26703f);*/
    background-color: #ebee41;
    border-bottom-left-radius: 150px 190px;
    border-bottom-right-radius: 150px 190px;
    border-top-left-radius: 150px 190px;
    border-top-right-radius: 150px 190px;
    color: #685517;
  }

nav{
	float: middle;
}
.navber_container{
	width: auto;
	margin: 0 auto;
	background-color: #000000;
  text-align: center;
}
nav li {
	display: inline-block;
	margin-left: auto;
	padding-top: auto;
	position: sticky;
	padding-left: 10px;
  padding-right: 20px;
}
nav a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	font-size: 14px;
  }
  
  nav a:hover {
	color: #ebee41;
  }
  nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #ebee41;
  
	position: relative;
	top: 0%;
	width: 0%;
	transition: all ease-in-out 100ms;
  }
  
  nav a:hover::before {
	width: 100%;
  }

section{
    padding:0px;
	position: relative;
    border-bottom: var(--border-light);
	background-color: #c7ca16;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration:none;
    color: rgb(33, 34, 8) ;
    border: 1px solid;
    font-weight: 400;
}
.btn:focus {
    outline-color: #917c7c77;
	outline-offset: 5px;
}
.btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: black;
    height: 100%;
    z-index: -1;
    transition: all 0.5s ;
}
.btn:hover::after,
.btn:focus::after {
    right: 0;
    background: var(--pink);
}
.btn--pink {
    background: var(--pink);
    transition: all 0.2s;
}
.btn--pink::after {
    display: none;
}
.btn--pink:hover,
.btn--pink:focus {
    background:transparent;
}

/* about section styles*/

.about__content {
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    /*background-image: linear-gradient(#1d0d33, #26703f);*/
    float:calc();
    color: #dd9191;
  
	
}

.row{
  padding: 5px;
  text-align: left;
  color: #dd9191;
  /*background-image: linear-gradient(#26703f,#1d0d33);*/
  background-color: #c03131;

}
.about__photo{
	display:flex;
  align-items:flex-start;
	border-width: 1px;
	/*width: 350px;*/
  max-width: 100%;
  height: auto;
	border-radius: 30px;
	position:static;
}
/* skill section styles*/

.skills {
  /*background-image: linear-gradient(#1d0d33, #26703f);*/
  float: calc();
  color: #685517;
  background-color: #ebee41;
  width: auto;
  text-align: center;
  
}

.skill-header {
  margin-bottom: 5px;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 100px;
  height: 100px;
 
}

.icon-card {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 3px 10px #110606;
  padding: 5px;
  margin: 10px;
}
/*research section*/
.research {
  /*background-image: linear-gradient(#1d0d33, #26703f);*/
  float: center;
  background-color: #c03131;
  color: #dd9191;
  width: auto;
  text-align: center;

}

.re-header {
  margin-bottom: 0px;
}

.re-wrapper img {
  padding: 1.25rem;
}


/*interest section*/
.interest {
  /*background-image: linear-gradient(#1d0d33, #26703f);*/
  float:middle;
  background-color: #ebee41;
  color: #685517;
  width: auto;
  text-align: center;
}

.int-header {
  margin-bottom: 5px;
}

.int-wrapper img {
  padding: 1.25rem;
}